# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Hasanatko.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hamza\Desktop\Unity\Hasanatko\.idea\.idea.Hasanatko\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
